
//BEM MIXIN//

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}


//FLEX MIXIN

@mixin flex ($display: flex, $dir: null, $wrap: null, $just: null, $flex: null, $align: null){
    display: $display;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    flex: $flex;
    align-items: $align;
    @content;
}


//MEDIA QUERY MIXIN

@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == "medium" {
        @media (min-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == "large" {
        @media (min-width: $brkpoint-lg) {
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for #{$break}";
    }
}