.traffic-bar {
    margin: em(15px) em(20px);
    height: em(30px);

    @include mq(medium) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.chart-filter {
    .focus {
        background-color: $pastel; 
        color: $white; 
    }

    color: #939ca0;

    @include mq(medium) {
        display: flex;
        flex-direction: row;
    }
    
    button {
        @extend %crt-btn;
    }
}


.daily-traffic, 
.mobile-users {
    padding-bottom: 0;
}
